.footer-general{   
    padding: 19px 43px 33px 27px;    
    max-width: 854px;
    width: 100%;
    box-sizing: border-box;  
           
}
.footer{    
    box-sizing: border-box;
    display: flex;
    justify-content: center;    
    background-image: url('../../assets/icons/footer-hands.svg');
                background-repeat: no-repeat;
                background-position: center;                 
                border-radius: 0px 7px 7px 0px;
                
                
                
            }

.footer__new-way-form{    
    display: flex;
    max-width: 366px;       
    flex-direction: column;
    padding-top: 35px;
    margin-bottom: 29px;
    
  
}
.footer__new-way-form-title{
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;     
    letter-spacing: -0.01em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom:26px;
}
.footer__new-way-form-label{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 10px;
text-align: center;
color: rgba(255, 255, 255, 0.85);
margin-bottom:21px;
}

.footer__new-way-form-input-all {
        display: flex;
        justify-content: center;
              
    }
.footer__new-way-form-input{    
box-sizing: border-box;
background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #CB8DE8 -42.58%, rgba(203, 143, 232, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(199, 137, 228, 0) 100%);
box-shadow: inset 0px -10px 16px rgba(255, 255, 255, 0.03);
backdrop-filter: blur(6px);
border-radius: 2px;
border-color: rgba(185, 54, 245, 0.14)
rgba(185, 54, 245, 0.11)
rgba(170, 20, 240, 0.08);
border-width: 1px;
padding-left: 5px;
margin-right: 13px;
color:#FFFFFF; 
max-width: 157px;
width: 100%;
font-size: 7px;
}
.footer__new-way-form-btm{    
    padding: 5px 23px;    
    background: linear-gradient(99.99deg, #B936F5 -21.45%, #C64C85 100%, #F1005B 100%);
    border-radius: 2px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 7px;
    line-height: 8px;

color: #F4F9FE;


    cursor:pointer;
}
@media  screen and (max-device-width: 530px),( max-width:430px){
    .footer {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            background-image: url('../../assets/icons/footer-hands-mob.svg');
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 0px 7px 7px 0px;
           
            padding-top: 26px;
    
    
        }
    .footer-general{                
        padding: 30px 16px 10px 16px}

     
    .footer__new-way-form{    
        display: flex;
        max-width: 342px;
        display: flex;     
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 8px;
    }
    .footer__new-way-form-title{  
        font-family: 'Orbitron';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        
            color: #FFFFFF;
        margin-bottom:10px;
    }    
    .footer__new-way-form-label{
            max-width: 184px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 9px;
            line-height: 11px;
            color: rgba(255, 255, 255, 0.85);
        margin-bottom:10px;
        align-self: center;
      
        }
        
    
    
                  
        
    
    .footer__new-way-form-btm{
        
        padding: 5px 13px;    
        cursor:pointer;
    }
      
  
}