main{
    z-index: 200;
}
.ellipse-games{
    position: relative;
    max-width: 854px;
    width: 100%;
    height: 100%;

}
.ellipse-games-elAdd{
    content: '';
        filter: blur(50px);
        position: absolute;
        width: 800px;
        height: 800px;
    background: radial-gradient(37.26% 37.26% at 50% 50%, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 100%);
       
        transform: translate(-40%, -50%);

}
.ellipse-games-elpagetop{
    content: '';
    filter: blur(50px);
    position: absolute;
    width: 800px;
    height: 800px;
    background: radial-gradient(37.26% 37.26% at 50% 50%, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 100%);
    z-index: -1;
    transform: translate(-40%, -50%);

}
.ellipse-games-elpagebottom{
    content: '';
    filter: blur(50px);
    position: absolute;
    width: 800px;
    height: 800px;
    background: radial-gradient(37.26% 37.26% at 50% 50%, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 100%);
    z-index: -1;
    transform: translate(0%, 44%);

}
.ellipse-games-el1{
content: '';  
    filter: blur(50px);
    position: absolute;
    width: 573px;
    height: 553px;
    background: radial-gradient(37.26% 37.26% at 50% 50%, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 100%);
    z-index: 0;
    transform: translate(0%, -50%);
}
.ellipse-games-el2{
content: '';
filter: blur(50px);
position: absolute;
width: 676px;
height: 651px;
background-repeat: no-repeat;
background-image: radial-gradient(37.26% 37.26% at 50% 62%, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 100%);
z-index: 0;
transform: translate(-36%, 14%);
}
.ellipse-games-el3{
content: '';
position: absolute;
width: 676px;
height: 651px;
background-repeat: no-repeat;
background: radial-gradient( circle, rgba(11,11,11,1) 60%, rgb(37 4 52) 69%, rgba(0,0,0,1) 71%);
z-index: 0;
transform: translate(120%, 43%);
}

.ellipse-games-el4{
    content: '';
    filter: blur(30px);
    position: absolute;
    width: 367px;
    height: 354px;
    background: radial-gradient(37.26% 37.26% at 50% 50%, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 100%);
    z-index: 0;
    transform: translate(-50%, 336%);
    }

    .ellipse-games-el5{
        content: '';
        filter: blur(3px);
        position: absolute;
        width: 367px;
        height: 354px;
        background: radial-gradient(37.26% 37.26% at 50% 50%, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 100%);
        z-index: 0;
        transform: translate(100%, 364%);
        }

        .ellipse-games-el6{
            content: '';
            position: absolute;
            width: 250px;
            height: 250px;
            background-repeat: no-repeat;
            background: radial-gradient( circle, rgba(11,11,11,0.2) 56%, rgba(37,4,52,0.6) 66%, rgba(0,0,0,0) 67%);
            z-index: 0;
            transform: translate(-88%, 574%);
            }
@media screen and (max-device-width: 530px),
                        (max-width: 530px) {
                            .ellipse-games-el1 {
                                  
                                    transform: translate(-40%, -50%);}
}